.container{
    margin: 100px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.form-control{
    margin-bottom: 25px;
}

button{
    margin: auto;
    width: 150px;
}

button:disabled{

    background-color: lightblue;

}

p{
  color: red;
    padding: 20px;
    text-align: center;
}
