iframe {
    width: 500px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
}


img {
    width: 425px;

    border-radius: 25px;

} 
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


button {
    padding: 20px;
    background-color:
        #f9d5b3d5;
    font-weight: bolder;
    border: 2px solid black;
width: 200px;

}

button:hover {
    transform: scale(1.3);
    color: black;
    transition: 0.5s;
}