<div class="container pt-5">

  <div class="row">

    <div class="col-md-6">
      <h3>Nuestras instalaciones se encuentran a tan solo trenta minutos de Madrid, en el municipio de Campo Real.</h3>
    </div>



    <div class="col-md-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12163.14357127693!2d-3.3718309!3d40.3470954!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfa3b0cb4a8601d01!2sFinca%20Los%20Jarales!5e0!3m2!1ses!2ses!4v1673435318862!5m2!1ses!2ses"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  
  <div class="row pt-5">
    <h3>
      Descube más sobre qué ofrecen instalaciones y la variedad de caballos
      disponibles de aprendizaje
    </h3>
  </div>

  <div class="container-fluid mt-3">

    <div class="row">

      <div class=" col ">

        <img src="../../../assets/instalaciones/instalaciones.jpg" alt="instalaciones">
        <button type="button" class="btn" routerLink="/recinto">
          INSTALACIONES
        </button>
      </div>
      
      

      <div class=" col  ">
        <img src="../../../assets/caballos/caballos.jpg" alt="caballos"  class="mx-auto d-block">
        <button type="button" class="btn" routerLink="/caballos">CABALLOS</button>
      </div>

    </div>

  </div>