<div class="container-fluid pb-0 mb-0 justify-content-center text-light">
  <footer>
    <div class="row my-5 justify-content-center py-5">
      <div class="col-11">
        <div class="row">
          <div class="col-xl-6 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
            <h3 class="text-muted mb-md-0 mb-5 bold-text">Jim Dressage</h3>
          </div>
          <div class="col-xl-2 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 bold-text"><b>MENU</b></h6>
            <ul class="list-unstyled">
              <li><a routerLink="/nosotros">Nosotros</a></li>
              <li><a routerLink="/instal">Instalaciones</a></li>
              <li><a routerLink="/actividades">Actividades</a></li>
              <li><a routerLink="/contacta">Conacta</a></li>
            </ul>
          </div>
          <div class="col-xl-2 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5">
              <b>DIRECCION</b>
            </h6>
            <p class="mb-1">Km. 1,200, Ctra. de Loeches</p>
            <p>28510 Campo Real, Madrid</p>
          </div>

          <div class="col-xl-2 col-md-4 col-sm-4 col-12">
            <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5">
              <b>TELEFONO</b>
            </h6>
            <p class="mb-1">608 444 719</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
