



.container-fluid{
    overflow:hidden; 
    margin-top: 150px ;
    background:#3f3f3f ;
    color: #627482  !important;
    margin-bottom: 0 ;
    padding-bottom:0  ;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.bold-text, h6, p{
    color: whitesmoke !important;
}



h3{
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important; 
}
 


