<h3> Te traemos una muestra de los caballos que tienes a tu disponibilidad para aprender:</h3>

<div class="contenedor">

  
   
    <div class="container mt-3">
        <img src="../../../../assets/caballos/dama.jpg" alt="Avatar" type="button" class=" image2" data-bs-toggle="collapse" data-bs-target="#demoa">
        
        <div id="demoa" class="collapse">
            Os presentamos a la jefa, <strong>Dama</strong>. Ella quiere ser la reina y así tener todo el cariño y los mimos para ella sola. Le gusta que todo esté en orden y un buen paseo matutino.
        </div>
      </div>

      <div class="container mt-3">
        <img src="../../../../assets/caballos/Rudolf.jpg"  alt="caballo Rudolf" type="button" class=" image2" data-bs-toggle="collapse" data-bs-target="#demob">
        
        <div id="demob" class="collapse">
            Me llamo <strong>Rudolf</strong> igual que el reno de Papa Noel, me encantan los gorros y bufandas, tambien soy muy rápido por lo que deberas agarrate fuerte ya que puede que echemos a volar.
        </div>
      </div>

      <div class="container mt-3">
        <img src="../../../../assets/caballos/oscar.jpg" alt="caballo oscar" type="button" class=" image2" data-bs-toggle="collapse" data-bs-target="#democ">
        
        <div id="democ" class="collapse">
            <strong>Oscar</strong>  es muy cariñoso, mimosón y un poco mandón, le encanta que le acaricien y jugar, muy sociable pero preferiría ser hijo único ya que le gusta acaparar las atenciones de los humanos.
        </div>
      </div>

</div> 




<button type="button" class="btn" routerLink="/instal">Volver</button>