<div class="container">

    <div class="texto">

    <h6>Nuestras instalaciones están pensadas y diseñadas únicamente en las necesidades de tu caballo, facilitando su estancia y siendo su comodidad nuestra prioridad.
       </h6>
       <h6>
        Contamos con un total de 35 hectáreas en plena naturaleza donde disfrutar de las excepcionales comodidades, ofreciendo así un servicio de máxima calidad para ti y tu caballo tanto por la calidad de las mismas como por su amplitud.</h6>

    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="../../../../assets/instalaciones/boxes1.jpg" class="card-img-top" alt="boxes">
            <div class="card-body">
              <h5 class="card-title">BOXES</h5>
              <p class="card-text">Disponemos de 45 amplios y cómodos boxes de 3.20 x 3.20, compuestos por una cama de paja. Los boxes tienen acceso directo a duchas y a la pista de trabajo y competición.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../../assets/instalaciones/pista.jpg" class="card-img-top" alt="pistas">
            <div class="card-body">
              <h5 class="card-title">PISTAS</h5>
              <p class="card-text">Contamos con dos pistas cubiertas, una al aire libre y una pequeña plaza</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../../assets/instalaciones/terraza.jpg" class="card-img-top" alt="terraza">
            <div class="card-body">
              <h5 class="card-title">ZONA SOCIAL</h5>
              <p class="card-text">Hay un restaurante y bar con amplia terraza y zona infantil.</p>
            </div>
          </div>
        </div>
        
      </div>

<button type="button" class="btn" routerLink="/instal">Volver</button>


</div>
