<div class="container-fluid">
  <!-- barra de navegacion, a partir de que ancho se contrae-->
  <!-- <nav class="navbar navbar-expand-md">

    <div class="container-fluid">
      <a href="#" class="navber-brand">logotipo</a>

      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion"> 
        <span class="navbar-toggler-icon"></span>

      </button>

      <div id="MenuNavegacion" class="collapse navbar-collapse">

        <ul class="navbar-nav ms-3">
          <li class="nav-item">
            <a href="#" class="nav-link">home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">acitividades</a>
          </li> <li class="nav-item">
            <a href="#" class="nav-link">admin</a>
          </li>
          
        </ul>

      </div>

    </div>

  </nav> -->

</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<div class="dropdown">
  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"  aria-expanded="true" aria-haspopup="true">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<!-- Example single danger button -->
<div class="dropdown mt-3">

  <button type="button" class="btn btn-secondary dropdown-toggle"
  data-bs-toggle="dropdown" id="dropdownMenu" >
Nosotros
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
  <li><a class="dropdown-item" href="#">instalaciones</a>
  </li>
            <li><a class="dropdown-item" href="#">caballos</a></li>

</ul>
</div>



