<div class="container-fluid">
  <!-- barra de navegacion, a partir de que ancho se contrae-->
  <nav class="navbar navbar-expand-md">

    <div class="container-fluid">
      <a href="#" class="navber-brand">logotipo</a>

      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion"> 
        <span class="navbar-toggler-icon"></span>

      </button>

      <div id="MenuNavegacion" class="collapse navbar-collapse">

        <ul class="navbar-nav ms-3">
          <li class="nav-item">
            <a href="#" class="nav-link">home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">acitividades</a>
          </li> <li class="nav-item">
            <a href="#" class="nav-link">admin</a>
          </li>
          
        </ul>

      </div>

    </div>

  </nav>

</div>



