
img {
    width: 65vw;
    margin-left: 20px;
}
button{
    font-size: larger;
    font-weight: bolder;
    background: rgb(236, 235, 235);
}
h4{
    padding: 80px 5px;
}

.center{
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contacta {
    padding: 20px;
    background-color: #f9d5b39a;
    font-weight: bolder;
    border: 2px solid black;
    align-self: flex-end;
    border-radius: 5px;

}

