/* img{
    width: 300px;
  
    background-size: cover;
} */

h5, p{
    color: #fbfbfb;
    
}

.carousel-caption{
    background-color: rgba(255, 228, 196, 0.441);
}


.contacta {
    padding: 20px;
    background-color: #f9d5b39a;
    font-weight: bolder;
    border: 2px solid black;
    align-self: flex-end;
    border-radius: 5px;

}