<!-- <form class="contact-form" (submit)="sendEmail($event)">
  <label>Name</label>
  <input type="text" name="user_name">
  <label>Email</label>
  <input type="email" name="user_email">
  <label>telefono</label>
  <input type="text" name="user_telefono">
  <label>Message</label>
  <textarea name="message"></textarea>
  <button type="submit" value="Send"> enviar </button>
</form> -->

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="well well-sm">
              <form class="contact-form" (submit)="sendEmail($event)">
                  <fieldset>
                      <legend class="text-center header">Contacta o envíamos tus sugerencias</legend>

                      <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                          <div class="col-md-8">
                            <label>Nombre completo</label>
                              <input id="fname" name="user_name" type="text" placeholder="Nombre completo" class="form-control">
                          </div>
                      </div>                  
                      <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                          <div class="col-md-8">
                            <label>Email</label>
                              <input id="email" name="user_email" type="text" placeholder="Direccion de email" class="form-control">
                          </div>
                      </div>
                      <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                          <div class="col-md-8">
                            <label>Telefono</label>
                              <input id="phone" name="user_telefono" type="text" placeholder="Telefono de contacto" class="form-control">
                          </div>
                      </div>

                      <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                          <div class="col-md-8">
                            <label>Tu consulta</label>
                              <textarea class="form-control" id="message" name="message" placeholder="Introduzca su mensaje, le contestaremos lo antes posible, gracias." rows="7"></textarea>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-md-12 text-center">
                              <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
                          </div>
                      </div>
                  </fieldset>
              </form>
          </div>
      </div>
  </div>
</div>
