nav{
    border-bottom: 2px solid black;
    background-color: rgb(47, 47, 47);
}

button, span, .navbar-toggler-icon{
 
    background-color:      #f9d5b3;
    ;
}



img{
    width: 80px;
    border-radius: 50%;
   
}

#MenuNavegacion{
    justify-content: flex-end;
}
a{
    /* color: black;
    background-color: #f9d5b3; */
color: whitesmoke;

    margin: 5px;
    border-radius: 5px;
}
a:hover{
  
    transform: scale(1.3);
    transition: 0.3s all ;
    background-color:#f9d5b3 ;
}
.navbar-brand:hover{
    transform: none;
    background-color: initial;

}