nav{
    border-bottom: 2px solid black;
}

img{
    width: 80px;
    border-radius: 50%;
   
}

#MenuNavegacion{
    justify-content: flex-end;
}
a{
    color: black;
}
a:hover{
    transform: scale(1.1);
    transition: 0.3s all ;
}