<nav class="navbar navbar-expand-md">
  <div class="container-fluid">

    <a  class="navbar-brand"><img routerLink="" src="../../assets/logo_jim.png" alt="logo_jim"></a>

   

    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
      <span class="navbar-toggler-icon"></span>

    </button>

    <div id="MenuNavegacion" class="collapse navbar-collapse">

      <ul class="navbar-nav ms-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/actividades">Actividades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacta">Contacta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/admin">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


  <!-- <nav class="navbar navbar-expand-md">
    <div class="container-fluid">

      <a href="#" class="navbar-brand"><img routerLink="/home" src="../../assets/logo_jim.png" alt="logo_jim"></a>

     

      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
        <span class="navbar-toggler-icon"></span>

      </button>

      <div id="MenuNavegacion" class="collapse navbar-collapse">

        <ul class="navbar-nav ms-3">
          <li class="nav-item">
            <a class="nav-link " routerLink="/nosotros">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/actividades">Actividades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacta">Contacta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/admin">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
